#school {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 30%;
  align-items: center;
  margin-right:0%;
  width:490px ;
  margin-top: 2%;
  color: black;
  font-weight: 900;
}
h2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 37%;
  margin-top: 5%;
  color: red;
}

#sunnah {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 34%;
  margin-top: 3%;
}
#honey {
  border: 2px solid black;
  margin-left: 7%;
  margin-right: 1%;
  margin-top: 5%;
  padding: 5px;
}

td {

  border: 3px solid black;
  padding: 30px;
}
footer {
  font-weight: 900;

  margin-left: 7%;
  margin-right: 1%;
  margin-top: 0.4%;
}

#upss{
  margin-left:1% ;
  width:90px ;
}
#upss2{
  margin-left: 180%;
  width: 90px;
  margin-right:1% ;
}

#logo{
  display: flex;
grid-template-columns: 1fr 1fr;
align-items: start;
gap: 140px;
}
#logo2{
  display:grid;
}

